body {
  overflow-x: hidden;
}
main {
  width: 100%;
  display: flex;
}
nav {
  font-size: 1.6em;
  padding: 1.2em 0;
  white-space: nowrap;
  position:relative;
}
#mainnav {
    text-align:center;
    width:100%;
    max-width:50em;
    margin:0 auto;
}

#mainnav li {
    list-style:none;
    display:inline-block;
    position:relative; /* depth sort over our highlight */
}

#mainnav li a {
    display:inline-block;
    text-decoration:none;
    color:#777; /* do NOT go brighter than 7F7F7F over white! */
    transition:color 0.5s;
}

#mainnav li a:focus,
#mainnav li a:hover {
    color:#000;
}

#mainnav li.over a {
    color:#FFF;
}

.myname {
  margin-top: 18em;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myname div {
  font-size: 3.2em;
  position: relative;
  -webkit-animation: myfirst 2s 2;
  -webkit-animation-direction: normal;
  animation: myfirst 2s 2;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
    animation-delay: 1s;
}
@keyframes myfirst {
  0%   {top: 0em;}
  100% {top: -2em;}
}
@-webkit-keyframes border {
     from {width: 0px;}
     to {width:100%}
}
.mynameanimation:after {
   content: '';
   display: block;
   margin: auto;
   height: 3px;
   width: 0px;
   background-color: #f400a1;
   -webkit-animation-name: border;
   -webkit-animation-duration: 1.2s;
   -webkit-animation-fill-mode: forwards;
   animation-name: border;
   animation-duration: 1.2s;
   animation-delay: 0.8s;
   animation-fill-mode: forwards;
}
.mynameanimation-changed:after {
   content: '';
   display: block;
   margin: auto;
   height: 3px;
   width: 0px;
   background-color: #f400a1;
   -webkit-animation-name: border;
   -webkit-animation-duration: 4s;
   -webkit-animation-fill-mode: forwards;
   animation-name: border;
   animation-duration: 1.2s;
   animation-delay: 0s;
   animation-fill-mode: forwards;
} */
#mainMenu {
    position:relative;
    font-size:1.6em;
    line-height:1.375em;
}

#mainMenu a {
    padding:0.3125em 0.5em;
}

#mainMenu .home a {
    padding:0.3125em 3em;
}

#mainMenu > span {
    position:absolute;
    top:0;
    height:100%;
    left:0;
    background:#C06;
    border-radius:1em;
    transition:left 0.5s, width 0.5s;
}
#mainMenu li {
    position:relative;
}
#mainMenu li a {
    text-decoration:none;
    color:#777; /* do NOT go brighter than 7F7F7F over white! */
    transition:color 0.5s;
}

#mainMenu li a:focus,
#mainMenu li a:hover {
    color:#000;
}

#mainMenu li.over a {
    color:#FFF;
}
.name-front, .name-end, .name-developer {
      font-size: 1.8em;
      text-transform: uppercase;
}
@media (min-width: 920px) {
  .navbar {
      height:50px;
  }
  .name-front, .name-end, .name-developer {
    font-size: 1.4em;
  }
  .name-developer {
      -webkit-animation: name-developer-920 1s 2;
      -webkit-animation-direction: normal;
      animation: name-developer-920 1s 2;
      animation-delay: 0.4s;
      animation-direction: normal;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-delay: 1.3s;
  }
}

@media (min-width: 435px) and (max-width: 919px) {
  .name-front, .name-end, .name-developer {
    font-size: 1.1em;
  }
  .myname div {
    font-size: 1.4em;
  }
  .name-developer {
      -webkit-animation: name-developer-435 1s 2;
      -webkit-animation-direction: normal;
      animation: name-developer-435 1s 2;
      animation-delay: 0.4s;
      animation-direction: normal;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
  }
}
@media (max-width: 434px){
  .name-front, .name-end, .name-developer {
    font-size: 0.8em;
  }
  .myname div {
    font-size: 1.2em;
  }
}
.name-front {
    padding-right: 2em;
}
.name-end {
    padding-left: 2em;
}
.name-developer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes name-developer-435 {
  0%   {top: 0em;}
  100% {top: -1.8em;}
}
@keyframes name-developer-920 {
  0%   {top: 0em; color:#212529;}
  100% {top: -2.5em; color:#f400a1;}
}
#o-mnie {
  margin-top: 10em;
  background-color: grey;
  height: 100%;
}
#projekty {
  margin-top: 3em;
}
#kontakt {
  margin-top: 3em;
}
#socialMenu {
    width:3.25em;
}