@import "partials/normalize";
@import "partials/print";
@import "fontello";
@import "konpa";


:root {
    --primary-color: #f400a1;
}
html {
    scroll-behavior: smooth;
}

ul {
    margin:0;
    padding:0;
}

img, fieldset {
    border:none;
}
@media (max-width:480px) {
    /* Fix for pre "viewport <meta>" mobile browsers */
    * {
        -webkit-text-size-adjust:none;
        -ms-text-size-adjust:none;
    }
    .omnie-child:nth-child(-n+2) {
        text-align:center;
    }

    .omnie-child:nth-child(2) {
        text-align:left;
        max-width: 80%;
    }
}
/** {*/
/*    -webkit-touch-callout: none !important;*/
/*    -webkit-user-select: none !important;*/
/*    -khtml-user-select: none !important;*/
/*    -moz-user-select: none !important;*/
/*    -ms-user-select: none !important;*/
/*    user-select: none!important;*/
/*    outline: 0 !important;*/
/*}*/
body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}
.main-container {
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fixed {
    position: fixed;
}
.bg-white {
    background-color: white;
}
.z-10 {
    z-index: 10;
}
.braces:before, .braces:after {
    color: var(--primary-color);
    font-size: 1.3em;
    padding: 0 0.2em;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.braces:before {
    content: '{';
    left: 0;
}
.braces:after {
    content: '}';
    left: 0;
}
.braces {
    margin-top: 1em;
    padding-bottom: 0.8em;
}
/*h2:after {*/
/*    width: 50%;*/
/*    display: block;*/
/*    content: "";*/
/*    margin: 1px auto;*/
/*    border: 2px solid var(--primary-color);*/
/*    border-radius: 48%;*/
/*}*/
.skills-h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
}
.skills-h2:after {
    border: none;
}
h3 {
    margin-top: 1em;
    padding-bottom: 0.8em;
    font-size: 1.3em;
}
@-webkit-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
}
.header  {
    display: flex;
    justify-content: center;
    width: 100%;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(139, 139, 139, 0.29);
    -moz-box-shadow: 0px 0px 0px 0px rgba(139, 139, 139, 0.29);
    box-shadow: 0px 0px 0px 0px rgba(139, 139, 139, 0.29);
    transition: box-shadow .5s;
}
.headershadow {
    -webkit-box-shadow: 5px 2px 11px 0px rgba(139, 139, 139, 0.29);
    -moz-box-shadow: 5px 2px 11px 0px rgba(139, 139, 139, 0.29);
    box-shadow: 5px 2px 11px 0px rgba(139, 139, 139, 0.29);
    transition: box-shadow 1s;
    transition-property: all;
    transition-duration: 1s;
}
footer  {
    height: 170px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #f3f3f3;
}
.aligncenter {
    text-align: center;
    border-top: 1px solid black;
    background-color: #f3f3f3;
}
.floatright {
    float: right;
    width: calc(30% + 1.3em);
    padding-left: 10px;
}
.myname {
  margin-top: 27rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myname div {
  font-size: 5.4em;
  position: relative;
  -webkit-animation: myfirst 2s 2;
  -webkit-animation-direction: normal;
  animation: myfirst 2s 2;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
    animation-delay: 1s;
}
@keyframes myfirst {
  0%   {top: 0em;}
  100% {top: -2em;}
}
@-webkit-keyframes border {
     from {width: 0px;}
     to {width:100%}
}
.mynameanimation:after {
   content: '';
   display: block;
   margin: auto;
   height: 4px;
   width: 0px;
   background-color: var(--primary-color);
   -webkit-animation-name: border;
   -webkit-animation-duration: 1.2s;
   -webkit-animation-fill-mode: forwards;
   animation-name: border;
   animation-duration: 1.2s;
   animation-delay: 0.8s;
   animation-fill-mode: forwards;
}
.mynameanimation-changed:after {
   content: '';
   display: block;
   margin: auto;
   height: 3px;
   width: 0px;
   background-color: var(--primary-color);
   -webkit-animation-name: border;
   -webkit-animation-duration: 4s;
   -webkit-animation-fill-mode: forwards;
   animation-name: border;
   animation-duration: 1.2s;
   animation-delay: 0s;
   animation-fill-mode: forwards;
}
.name-front, .name-end, .name-developer {
      font-size: 1.8em;
      text-transform: uppercase;
}
@media (min-width: 920px) {
  .navbar {
      height:50px;
  }
  .name-front, .name-end, .name-developer {
    font-size: 1.4em;
  }
  .name-developer {
      -webkit-animation: name-developer-920 1s 2;
      -webkit-animation-direction: normal;
      animation: name-developer-920 1s 2;
      animation-direction: normal;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-delay: 1.3s;
  }
    #omnie {
        height: 50vh;
    }

    .omnie-child:nth-child(2) {
        width:57%;
        min-width:45em;
        line-height: 1.4em;
    }
    #contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .contact-child {
        padding: 0 2em;
        margin: 0 2em;
    }
}

@media /* (min-width: 435px) and */ (max-width: 919px) {
  .name-front, .name-end, .name-developer {
    font-size: 1.1em;
  }
  .name-developer {
      -webkit-animation: name-developer-435 1s 2;
      -webkit-animation-direction: normal;
      animation: name-developer-435 1s 2;
      animation-direction: normal;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-delay: 1.3s;
  }
    #omnie {
        height: 60vh;
    }
    #contact {
        flex-direction: column;
    }
    .contact-child {
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 810px) {
    .myname div {
        font-size: 4.0em;
    }
    .myname {
        margin-top: 330px;
    }
}
@media (max-width: 660px) {
    .name-developer, .name-end, .name-front {
        display: none;
    }
}
@media (max-width: 434px){
  .name-front, .name-end, .name-developer {
    font-size: 0.8em;
  }
  .myname div {
    font-size: 2.2em;
  }
    .name-developer {
        -webkit-animation: name-developer-verysmall 1s 2;
        -webkit-animation-direction: normal;
        animation: name-developer-verysmall 1s 2;
        animation-direction: normal;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-delay: 1.3s;
    }
    .javascript-developer {
        text-align: center;
    }
    #omnie {
        height: 80vh;
    }
    .omnie-child:nth-child(-n+2) {
        text-align:center;
    }

    .omnie-child:nth-child(2) {
        text-align:left;
        max-width: 80%;
    }
    .contact-child {
        text-align: center;
    }
    #contact h3 {
        text-align: center;
    }
    .floatright {
        float:none;
        width: 100%;
    }
}
.name-front {
    padding-right: 2em;
}
.name-end {
    padding-left: 2em;
}
.name-developer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
//@keyframes name-developer-verysmall {
//    0%   {top: 0em; color:#212529;}
//    100% {top: -2em; color:var(--primary-color);}
//}
@keyframes name-developer-435 {
  0%   {top: 0em; color:#212529;}
  100% {top: -2.78em; color:var(--primary-color);}
}
@keyframes name-developer-920 {
  0%   {top: 0em; color:#212529;}
  100% {top: -2.82em; color:var(--primary-color);}
}
@media (max-width: 660px) {
    .name-developer, .name-end, .name-front {
        display: none;
    }
}
#omnie {
    background-color: #fafafa;
    margin-top: 3.5em;
    color: #383838;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}
.omnie-child:nth-child(2) {
    font-size: 1.2em;
    margin-top: 20px;
    padding: 23px;
}
.contact-child:first-child {

}
.contact-child:last-child {

}
.copy {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 50px;
}
/* PROJECTS */
#projekty {
    /*height: 50vh;*/
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items: center;
    margin-top: 3em;
}
.projektychild {
     display: flex;
     flex-direction: column;
     align-items: center;
    background: #fafafa;
 }
.my-projects-buttons {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
}
.my-projects-buttons:hover {
    //background-color: rgba(233, 233, 233, 0.29);
}
.project {
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 4px;
    margin-bottom: 1em;
    width:57%;
    min-width:45em;
}
.projectplus {
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 5px;
}
.projectplus:hover {
    -webkit-animation: fa-spin 1s linear;
    -moz-animation: fa-spin 1s linear;
    -o-animation: fa-spin 1s linear;
    animation: fa-spin 1s linear;
}
.panel {
    max-height: 0;
    transition: max-height 1.15s ease-out;
    overflow: hidden;
    border-top: 1px solid rgba(244, 0, 161, 0.3);
}
.panelhover {
    max-height: 1500px;
    transition: max-height 1.25s ease-in;
    display: flex;
    flex-direction: column;
}
.technologies-used {
    padding-left: 18px;
    font-style: italic;
    font-weight: 600;
    line-height: 32px;
}
/*PROJECTS*/
/*PROJECT GLAM*/
.project-name {
    padding: 11px 18px;
    font-weight: 600;
    display: block;
    background-color: #f3f3f3;
    font-size: 1.1em;
}
.projectdescription {
    padding: 1.2em 0.4em 0.4em;

}
.projectdescription p {
    line-height: 24px;
}
.projectdescription img {
    float: left;
    padding: 10px 18px 18px;
    width: 45%;
    box-shadow: 7px 6px 20px -7px rgba(0, 0, 0, 0.40);
    margin: 0 20px 20px;
}
.project-flexglam-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.flex-item-project1:nth-child(-n+2) /* the first two elements */ {
    padding: 4px;
    margin: 5px;
    border: 1px solid var(--primary-color);
    width:40%;
}
.flex-item-project1:nth-child(-n+2) img {
    width:100%;
    height:auto;
}
.flex-item-project1:nth-child(3) /* the 3rd item, the yellow one */ {
    width:100%;
    padding: 0.6em;
}
@media all and (max-width: 810px) {
    .header__main-nav-menu {
        flex-flow: row;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
    }
    .header__main-nav-menu > li {
        flex-basis: 100%;
        text-align: center;
    }
    .header__main-nav-menu li .fa-github-square, .header__main-nav-menu li .fa-linkedin {
        flex-flow: row;
        order: 1;
    }
    #projekty {
        margin-top: 65px;
    }
    .project {
        width: 80%;
        min-width: 18em;
    }
    .project-flexglam-container {
        flex-flow: column;
    }
    .flex-item-project1:nth-child(-n+2) {
    width: 95.5%;
    padding: 0.4em;
    }
    .omnie-child:nth-child(2) {
        text-align:left;
        max-width: 80%;
    }

}

/* NEW NAVBAR */
.header__main-nav-menu li {
    list-style:none;
    position:relative; /* depth sort over our highlight */
}
.header__main-nav-menu li a {
    display: block;
    text-decoration: none;
    color:#777; /* do NOT go brighter than 7F7F7F over white! */
    transition:color 0.5s;
    text-transform: uppercase;
}

.header__main-nav-menu li a:focus,
.header__main-nav-menu li a:hover {
    color:#000;
}

.header__main-nav-menu li.over a {
    color:#FFF;
}
.header__main-nav-menu {
    font-size:1.6em;
    line-height:1.375em;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 0 auto;
}

.header__main-nav-menu a {
    padding:0.3125em 0.5em;
    white-space: nowrap;
}

.header__main-nav-menu .header__main-nav-menu--home a {
    padding:0.3125em 3em;
}

.header__main-nav-menu > span {
    position:absolute;
    top:0;
    height:100%;
    left:0;
    background:var(--primary-color);
    border-radius:1em;
    transition:left 0.5s, width 0.5s;
}
//.header__main-nav-menu i {
//    padding: 0 2.5px;
//}
#contact {
    //background-color: #f3f3f3;
    padding: 80px 0;
}
#contact p i {
    padding-right: 4px;
    font-size: 1.2em;
}
#contact a {
    text-decoration: none;
    color: #1f1f1f;
}
#contact p {
    font-size: 1.2em;
    line-height: 2em;
}
/* Skills */
/*h1 {*/
/*    background: rgba(255,255,255,0.8);*/
/*    box-shadow:0px 1px 10px 2px rgba(0,0,0,0.2);*/
/*    border-bottom: 3px solid #00bfeb;*/
/*    font-size: calc(1em + 1vmax);*/
/*}*/
.javascript-developer {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.skills-wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 7rem auto;
}
.skills-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    flex-flow: wrap;
}
.skills-container__skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 15%;
}
.skill-icon.html5 {
    margin: 7px 0 0 1px;
}.skill-icon.js {
    margin: 5px 0 0 1px;
}.skill-icon.css {
    margin: 8px 0 0 3px;
}.skill-icon.react {
    margin: 5px 0 0 1px;
}
.counter {
    display: inline-flex;
    cursor:pointer;
    width:100px;
    height:100px;
    max-width:100%;
    position:relative;
    justify-content:center;
    align-items:center;
    font-size: calc(1em + 1vmin);
    transition: height .2s ease-in-out;
    background: #ffffff;
    border-radius:50%;
    margin:1em 0;
}
.percentage {
    position:absolute;
    text-align:center;
    top:50%;
    left:0;
    right:0;
    vertical-align:middle;
    transform:translate3d(0,-50%,0);
}
/* other skills */
.other-skills {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 57%;
    justify-content: center;
    position: relative;
}
.other-skills>* {
    flex: 1 1 240px;
    margin: 10px;
    font-size: 18px;
}
.other-skills [class^="skill-"]{
    border: 1px solid #ddd;
    width: 127px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    //box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 10px;
}
.other-skills svg {
    //width: 100%;
    height: 100%;
    margin-right: 5px;
}
.skill-1 {
    content: '\f113';
}



@media (max-width: 919px) {
    .other-skills {
        flex: 1 1 160px;
        font-size: 40px;
        svg {
            height: 100%;
        }
    }

}